body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.header{
    width: 100%;
}

.image-header img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header p{
    position: absolute;
    top: 54%;
    left: 50%;
    color: beige;
    font-size: 50px;
    transform: translate(-50%, -50%);
}

.box{
    width: 300px;
}

.img-box img{
    width: 100%;
}

.box-container{
display: flex;
justify-content: space-around;
margin-top: 5 0px;
}

.footer{
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.footer img{
    width: 60px;
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.footer p{
    margin-right: 10px;
}

@media screen and (max-width: 600px) {

    .box-container{
        flex-wrap: wrap;
    }

    .header p{
        text-align: center;
        font-size: 30px;
        color: whitesmoke; 
        top: 60%;
    }

    .image-header img{
        width: 100vw; 
        height: 100vh; 
        object-fit: cover;     
    }

}
